<div> Hello World - Nothing much yet, console trying to connect with proxmox </div>

<div id="btn_set">
    <button type="button" id="test-btn">
        Ping
    </button>
</div>
<main>
    <label>Name:</label>
    <input type="text" id="name-input">
    <button>Add Name</button>

    <br><br>
    <div>
        <input placeholder="search by id" id="search-by-id">
        <button id="search-btn">Search</button>
    </div>

    <table id="table">
        <thead>
            <th>ID</th>
            <th>status</th>
            <th>time queue</th>
            <th>type</th>
            <th>virtual</th>
        </thead>
        {{#each rows}}
            <tbody>
                <tr>
                    <td>{{appointment_id}}</td>
                    <td>{{status}}</td>
                    <td>{{TimeQueued}}</td>
                    <td>{{type}}</td>
                    <td>{{Virtual}}</td>
                </tr>
            </tbody>
        {{else}}
            <tbody><tr><td class='no-data' colspan=5> No data</td></tr> </tbody>
        {{/each}}
    </table>
</main>


<script src="scripts/intro.js"></script>