<div class="form-container">
                <a href="/luzon" id="Luzon_Node">Luzon Node</a>
                <a href="/vismin" id="VisMin_Node">VisMin Node</a>
                <a href="/" id="Central_Node">Central Node</a>
                <a href="/report" id="Report">Report</a>
            </div>

            <br><br>
            <div>Amount of Appointments: {{nAppointments}}</div>
            <br><br>
            <div>Completed Appointments: {{cAppointments}}</div> <!-- percentage maybe -->
            <br><br>
            <div>Amount of Distinct Patients: {{nDPatients}}</div>
            <br><br>
            <div>Amount of Distinct Doctors: {{nDDoctors}}</div>
            <br><br>
            <div>Appointments per Year: </div> <!-- starting from the least year to the most recent -->
            {{#each nAppYear}}
                <div>{{@key}}: {{this}}</div>
            {{/each}}


            